<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
    <div style="background: rgb(233, 153, 206);"><h1 style="text-align: center;">Desafio 10</h1>
        <h2 style="text-align: center;">Diana Di Stefano - Backend Coderhouse</h2>
    </div>

    <div class="container">
        <form action="api/productos/vista" method="post">
            <h3 class="title">Nuevo producto</h3>
            <div class="form-group">
              <label for="title">Nombre del producto</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el nombre del producto" required>
            </div>
            <div class="form-group">
              <label for="price">Precio del producto</label>
              <input type="number" class="form-control" id="price" name="price" min=0 placeholder="Ingrese el precio del producto" required>
            </div>
            <div class="form-group">
              <label for="thumbnail">URL de la imagen</label>
              <input type="url" class="form-control" id="thumbnail" name="thumbnail" placeholder="Ingrese URL del producto" required>
            </div>
            <input class="btn btn-success" type="submit" value="Guardar producto">
          </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>