<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body style="background-color:#212529; height: 100vh;">

    <div class="container" style="text-align: center; display: flex; justify-content: center; align-items: center; height: 80vh;">
        <div>
            <p style="text-align: center; color: white;">Si querés chatear y sentirte en los 90's, <i class="nes-logo"></i></p>
            <p style="text-align: center;  color: white;">estás en el lugar adecuado </p>
            <a class="nes-btn" href="chat">Chatear!</a>
        </div>
    </div>

    <footer style="text-align: center; height: 20vh;">
        <p style="text-align: center;  color: white;">Made with <i class="nes-icon is-small heart"></i> by <a href="https://www.linkedin.com/in/dianaledist/" style="color: fuchsia;">Diana Leonor Di Stefano</a></p>
        <p>
            <a href="https://www.facebook.com/Soy.Diana.Distefano"><i class="nes-icon facebook is-medium"></i></a>
            <a href="https://www.instagram.com/dianaledist/"><i class="nes-icon instagram is-medium"></i></a>
            <a href="https://github.com/dianaledist"><i class="nes-icon github is-medium"></i></a>
        </p>
    </footer>
        


</body>
</html>